@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap');

    /* font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Outfit', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap');

:root{
    /* ### Primary */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan:hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /* ### Neutral */
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.582);
    /* (background, headings, buttons) abajo esta la variable */
    --Very-light-gray: hsl(0, 0%, 95%);
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    width:18em;
    height:200vh;
}
.card{
    width:100%;
    height:30%;
}
.card_sedans{
    background-color:var(--Bright-orange);
    margin:2em 0 0 0;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}
.card_suvs{
    background-color:var(--Dark-cyan);
}
.card_luxury{
    background-color:var(--Very-dark-cyan);
    border-end-end-radius:1em;
    border-end-start-radius:1em;
}
.content_card_center{
    width:80%;
    height:90%;
    line-height:1.4;
    padding:1em 0 0 1em;
}
h2{
    color:var(--Very-light-gray);
    font-weight:700;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    margin:0;
}
P{
    color:var(--Transparent-white-paragraphs);
    font-weight:400;
    font-family: 'Outfit', sans-serif;
    font-size:15px;
    line-height:1.6;
}
button{
    width:10em;
    height:3em;
    border-radius:2em;
    cursor:pointer;
}
.button_1{
    color:var(--Bright-orange);
    border:none;
}
.button_2{
    color:var(--Dark-cyan);
    border:none;
}
.button_3{
    color:var(--Very-dark-cyan);
    border:none;
}
button:hover{
    background-color:rgba(255, 255, 255, 0);
    border:1px solid var(--Transparent-white-paragraphs);
    color:var(--Transparent-white-paragraphs);
    transition:1s;
}

@media only screen and (min-width: 1200px) {
    .container{
        width:80%;
        height:100vh;
        flex-direction:row;
    }
    .card{
        width:33.3%;
        height:80%;
    }
    .card_sedans{
        border-radius: 0;
        margin:0;
    }
    .card_luxury{
        border-radius:0;
    }
    h2{
        margin:1em 0 0 0;
    }
    .button{
        margin-top:5em;
    }
    p{
        font-size: 20px;
    }
}